<div class="fullLayout">


  <div class="formContainer">
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4 mt-3">
        <h2></h2>
        <form class="">
          <label class="titleLabel">ID</label>
          <input required class="form-control idInp" type="text" name="" id="" disabled placeholder="{{notesDetails.id}}">
          <label class="titleLabel">Title</label>
          <input required class="form-control" type="text" name="" id="" disabled placeholder="{{notesDetails.title}}">

          <label class="bodyLabel">Body</label>
          <textarea name="" class="form-control" id="" cols="30" rows="10" disabled placeholder="{{notesDetails.body}}"></textarea>
        </form>
        <div class="mt-3 text-end">
          <!-- <button class="btn btn-outline-danger col-3">Cancel</button> -->
          <button class="btn btn-success ms-3 col-3" routerLink="/Main">Go Back</button>
        </div>
      </div>


      <div class="col-4"></div>
    </div>
  </div>


</div>